@font-face {
    font-family: "Concert One";
    src: url('../fonts/concertone.ttf');
}

body {
	background-color: black;
  color: white;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 25%;
}

footer {
    color: white;
}

#logo {
  background-image: url('../images/background.jpg');
  background-size: cover;
  text-align: center;
  font-family: "Concert One";
  color: black;
  margin: auto;
  height: 800px;
  /*width:  fill ;*/
  -webkit-text-stroke: 1px skyblue;
}